<article>
  <h1>Above and below the Ocean</h1>
          <h2>A taste of the Australia and Galapagos Wildlife, meet my friends!</h2>
          <section>
              <section class="row">
                  <div class="column">
                    <img src="/assets/49412593648_8cc3277a9c_c.jpg">
                    <img src="/assets/49413271167_22a504c3fa_w.jpg">
                    <img src="/assets/47099018614_5a68c0195a_w.jpg">
                  </div>
                  <div class="column">
                    <img src="/assets/41617221114_4d5473251c_w.jpg">
                    <img src="/assets/47734160411_f2b6ff8139_w.jpg"> 
                    <img src="/assets/46972303215_793d32957f_c.jpg">    
                  </div>
                  <div class="column">
                    <img src="/assets/45811905264_be30a7ded6_w.jpg">
                    <img src="/assets/44718289960_e83c98af2b_w.jpg">
                    <img src="/assets/46025678804_fb8c47a786_w.jpg">
                  </div>
              </section>
          </section> 
          <a class="link_button" routerLink="feedback-and-chat">Find out more about these guys!</a>   
          <router-outlet></router-outlet> 
</article>

 

  